
.name-user {
  color: #FFF;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  padding: 20px 0px;
  width: 100%;
}

.container-login {
  padding: 0px !important;
}

.btn-login {
  margin: auto;
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.btn-login:hover { 
  color: grayscale($color: #000010);
}

.div-btn-bottom {
  bottom: 0;
  position: absolute;
}

.textarea-custom {
  textarea {
    height: 400px !important;
  }
}